﻿@model IndexViewModel<Product>

<div class="col-lg-5 col-md-7 col-sm-9 col-xs-12 mx-auto mb-3">
    <table class="table table-striped table-bordered border-primary align-middle text-center">
        <thead>
            <tr>
                <th>
                    Description
                </th>
                <th>
                    Prix
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="product_list">
            <partial name="_ProductsPage" model="@Model.Items" />
        </tbody>
    </table>
</div>

<paging 
        ajax="true"
        ajax-url="?handler=ItemsList"
        ajax-update="#items"
        ajax-mode="replace"
        page-no="@Model.CurrentPage"
        page-size="@Model.PageSize"
        total-records="@Model.TotalRecords"
        show-page-size-nav="false"
        show-total-records="false"
        show-total-pages="false"
        class-paging-control="pagination justify-content-center"
        text-last=""
        text-first=""
        text-previous=""
        text-next=""
        sr-text-first="<i class=' bi bi-skip-backward'></i>"
        sr-text-last="<i class=' bi bi-skip-forward'></i>"
        sr-text-previous="<i class='bi bi-caret-left'></i>"
        sr-text-next="<i class='bi bi-caret-right'></i>">
</paging>