﻿@model IEnumerable<MVC.Models.Product>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prix)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a> |
            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success"><i class="bi bi-binoculars"></i></a> |
            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="bi bi-trash"></i></a>
        </td>
    </tr>
}