﻿@model IndexViewModel<Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index Pagined</h1>

<form>
    <div class="col-lg-5 col-md-7 col-sm-9 col-xs-12 mx-auto mb-3">
        <div class="input-group">
            <input id="search" name="q" value="@(Context.Request.Query["q"])" class="form-control" oninput="toggleClearSearch();">
            <button id="clear-search" class="btn d-none" style="background-color:#adb5bd;" onclick="clearSearch();"><i class="bi bi-x" style="color:red;"></i></button>
            <button type="submit" class="btn btn-secondary"><i class="bi bi-search"></i></button>

            <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i></a>
        </div>
    </div>
</form>

<div id="items">
    <partial name="_IndexPartialPagined", model="@Model"/>
</div>

@section Scripts
    {
    <script>

        function toggleClearSearch() {
            $("#clear-search").toggleClass("d-none", !Boolean($("#search").val()));
        }

        function clearSearch() {

            $("#search").val("").click(); // vide la zone de saisie et clique
            $("#clear-search").addClass("d-none");
        }

        $(document).ready(function () {
            toggleClearSearch();
        })
    </script>
}
