﻿@model IndexViewModel<Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index Filtered Unobstrusive</h1>
@*https://www.learnrazorpages.com/razor-pages/ajax/unobtrusive-ajax*@
<form data-ajax="true"
        data-ajax-url="_IndexPartial"
        data-ajax-update="#product_list" >
    <div class="col-lg-5 col-md-7 col-sm-9 col-xs-12 mx-auto mb-3">
        <div class="input-group">
            <input asp-for="Filter" class="form-control" oninput="toggleClearSearch();">
            <button id="clear-search" class="btn d-none" style="background-color:#adb5bd;" onclick="clearSearch();"><i class="bi bi-x" style="color:red;"></i></button>
            <button type="submit" class="btn btn-secondary"><i class="bi bi-search"></i></button>

            <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i></a>
        </div>
    </div>
</form>

<div class="col-lg-5 col-md-7 col-sm-9 col-xs-12 mx-auto">
    <table class="table table-striped table-bordered border-primary align-middle text-center">
        <thead>
            <tr>
                <th>
                    Description
                </th>
                <th>
                    Prix
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="product_list">
            <partial name="_ProductsPage" model="@Model.Items" />
        </tbody>
    </table>
</div>


@section Scripts
    {
    <script>

        function toggleClearSearch()
        {
            $("#clear-search").toggleClass("d-none", !Boolean($("#Filter").val()));
        }

        function clearSearch(){

            $("#Filter").val("").click(); // vide la zone de saisie et clique
            $("#clear-search").addClass("d-none");
        }
    </script>
}