﻿@model IndexViewModel<Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index Pagined</h1>

<form>
    <div class="col-lg-5 col-md-7 col-sm-9 col-xs-12 mx-auto mb-3">
        <div class="input-group">
            <input id="search" name="q" value="@(Context.Request.Query["q"])" class="form-control" oninput="toggleClearSearch();">
            <button id="clear-search" class="btn d-none" style="background-color:#adb5bd;" onclick="clearSearch();"><i class="bi bi-x" style="color:red;"></i></button>
            <button type="submit" class="btn btn-secondary"><i class="bi bi-search"></i></button>

            <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i></a>
        </div>
    </div>
</form>

<div class="col-lg-5 col-md-7 col-sm-9 col-xs-12 mx-auto mb-3">
    <table class="table table-striped table-bordered border-primary align-middle text-center">
        <thead>
            <tr>
                <th>
                    Description
                </th>
                <th>
                    Prix
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="product_list">
            <partial name="_ProductsPage" model="@Model.Items" />
        </tbody>
    </table>
</div>

<paging page-no="@Model.CurrentPage"
        page-size="@Model.PageSize"
        total-records="@Model.TotalRecords"
        show-page-size-nav="false"
        show-total-records="false"
        show-total-pages="false"
        class-paging-control="pagination justify-content-center"
        text-last=""
        text-first=""
        text-previous=""
        text-next=""
        sr-text-first="<i class=' bi bi-skip-backward'></i>"
        sr-text-last="<i class=' bi bi-skip-forward'></i>"
        sr-text-previous="<i class='bi bi-caret-left'></i>"
        sr-text-next="<i class='bi bi-caret-right'></i>">
</paging>

@section Scripts
    {
    <script>

        function toggleClearSearch() {
            $("#clear-search").toggleClass("d-none", !Boolean($("#search").val()));
        }

        function clearSearch() {

            $("#search").val("").click(); // vide la zone de saisie et clique
            $("#clear-search").addClass("d-none");
        }

        $(document).ready(function () {
            toggleClearSearch();
        })
    </script>
}
