﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="text-secondary">
    Il est @DateTime.Now.ToLongTimeString().
</div>

<a asp-controller="Home" asp-action="Privacy">Refresh to test cache</a>