﻿@{
    ViewData["Title"] = "Not Found";

    <h1 class="text-danger">@ViewBag.ErrorMessage</h1>
    <h3 class="text-danger">@ViewBag.Path</h3>
    <h3 class="text-danger">@ViewBag.QS</h3>
    <a asp-controller="Home" asp-action="Index">Home Sweet Home</a>
}