﻿@model EmailViewModel

@{
    ViewData["title"] = "Contact";
}

<h1>Contact</h1>

<div class="container col-sm-10 col-lg-6">
    <form asp-controller="Home" asp-action="Contact" enctype="multipart/form-data">

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group mb-2">
            <label asp-for="FromEmail" class="control-label"></label>
            <input asp-for="FromEmail" class="form-control" />
            <span asp-validation-for="FromEmail" class="text-danger"></span>
        </div>

        <div class="form-group mb-2">
            <label asp-for="Subject" class="control-label"></label>
            <input asp-for="Subject" class="form-control" />
            <span asp-validation-for="Subject" class="text-danger"></span>
        </div>

        <div class="form-group mb-2">
            <label asp-for="Body" class="control-label"></label>
            <textarea asp-for="Body" class="form-control" ></textarea>
            <span asp-validation-for="Body" class="text-danger"></span>
        </div>

        <div class="form-group mb-2">
            <label class="col-form-label">Select multiple files</label>
            <input asp-for="Attachments" class="form-control" multiple/>
            <span asp-validation-for="Attachments" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Send" class="btn btn-primary w-100" />
        </div>

    </form>
</div>