﻿@using TagHelpers.Helpers;
@model Employe
@{
    ViewData["Title"] = "Create Employe";
}

<h2>Tag Helper</h2>

@*<div><a href="mailto:@Model.Email">@Model.Name</a> est de type @Model.Type gagne @Model.Salary</div>*@

<employe name=@Model.Name salary=@Model.Salary type=@Model.Type email=@Model.Email />

@Html.Employe(@Model.Name, @Model.Salary.ToString(), @Model.Type.ToString(), @Model.Email)