﻿@model Employe
@{
    ViewData["Title"] = "Create Employe avec HTML Helpers";
}

<h1>New Employe</h1>

@using (Html.BeginForm("Bonjour", "Employe", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="mb-3">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class="form-control"})
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.Salary)
        @Html.TextBoxFor(model => model.Salary, new { @class="form-control"})
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class="form-control"})
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.IsActif)
        @Html.EditorFor(model => model.IsActif, new { htmlAttibutes = new { @class="form-check-input"}})
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.Type)
        @Html.DropDownListFor(model => model.Type, Html.GetEnumSelectList<EmployeType>(), "Select type",  new { @class="form-control"})
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
}