﻿
@model Personnage

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h4>@ViewBag.tmpDataFromAction</h4>
    <h4>@ViewBag.tmpDataFromView</h4>
    <h4>@ViewBag.myCookie</h4>
</div>

<div class="text-center">
    
    <h4>@Model.Nom @Model.Prenom</h4>
</div>

