﻿@{
    ViewData["Title"] = "Privacy Policy";

    var maList = ViewData["stringList"] as IList<string>;

    TempData["tmpDataFromView"] = "Data from View 'Privacy' of 'HomeController' with TempData";

}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h4>@ViewBag.Message</h4>
<h4>@ViewData["cle"]</h4>

<ul>
   @if(maList is not null)
    {
        foreach(var str in maList)
        {
            <li>
                @str
            </li>
        }
    }

</ul>