﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Razor view Engine</h2>
    <p>
        Razor est un moteur de rendu supporté par ASP.NET MVC
    </p>
    <p>
        Razor permet de mélanger le langage HTML avec un langage côté servzeur. Visual Basic (.vbhtml) ou c# (.cshtml)
    </p>
    <p>
        Le symbole @@ est utilisé pour atteindre des variables ou pour créer des blocs de code
    </p>
</div>
