﻿
@{
    ViewData["Title"] = "View";

    List<string> maList = new()
    {
        "riri",
        "fifi",
        "loulou"
    };
}

<h1>ActionReturnView</h1>

<ul>
    @foreach(string item in maList)
    {
        <li>@item</li>
    }
</ul>