﻿
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "ListRoles";
}

<h1>All Roles</h1>

<p>
    <a asp-controller="Administration" asp-action="CreateRole" class="btn btn-primary ">Create New</a>
</p>

@if (Model.Any())
{
    @foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id : @role.Id
            </div>
            <div class="card-body">
                <div class="card-title">@role.Name</div>
            </div>
            <div class="card-footer">
                <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">

                    <a asp-controller="Administration" asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-primary">Edit</a>
                    <button type="submit" class="btn btn-danger"
                    onclick="return confirm('Are you sure you want to delete this role : @role.Name ?')">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card mb-3">
        <div class="card-header">
            No Role created Yet
        </div>
        <div class="card-body">
            <a asp-controller="Administration" asp-action="CreateRole" class="btn btn-primary ">Create New</a>
        </div>
    </div>
}